<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.michelenasti.scripts.backupscript</string>
	<key>Program</key>
	<string>/Users/michelenasti/Tools/Scripts/BackupScript/start.sh</string>
	<key>StandardErrorPath</key>
	<string>/Users/michelenasti/Tools/Scripts/BackupScript/err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/michelenasti/Tools/Scripts/BackupScript/out.log</string>s
	<key>StartInterval</key>
	<integer>3600</integer>
	<key>WorkingDirectory</key>
	<string>/Users/michelenasti/Tools/Scripts/BackupScript</string>
	<key>UserName</key>
	<string>michelenasti</string>
</dict>
</plist>
